@charset "utf-8";
/* CSS Document */
h1{
	text-align: center;
	margin-top: 40px;
}

#siteUL{
	text-decoration: none;
	margin-top: 35px;
	margin-left: 10%;
	margin-bottom: 20%;
	padding:15px;
	border-radius: 25px;
	font-size:18px;
	list-style: none;
	color: rgba(45,45,45,1.00);
}

#siteUL li{
	margin-bottom: 12px;
}
